
/* PARENT CONTAINER of RIGHT & LEFT SIDE  */

.all_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

/* ---------- RIGHT SIDE ---------- */

.search-and-display{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.div-search-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 100%;
    font-size: 20px;

}

.div-input-search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.input-search-bar{
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
}


.div-display-pizzas-ingredient{
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.div-card-pizzas-ingredient{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 29%;
    cursor: pointer;
}

.div-card-pizzas-ingredient:hover{
    background-color: #f2f2f2;
}

.div-display-pizzas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.div-display-ingredient{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}


/* ---------- LEFT SIDE ---------- */

.form_pizza{
    width: 30%;
    background-color: brown;
}

.pizza-selected{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pizza-selected-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.display-selected-pizza{
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.display-pizza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.save-pizza-selected{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: 10%;
}

.btn-save-pizza-selected{
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 5%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.span-button{
    font-size: 20px;
    /* make me a border  */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    cursor: pointer;
    
}
.span-button:hover{
    background-color: #f2f2f2;
    
}