.main-footer {
    color: white;
    background-color: #000;
    padding-top: 3em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}